In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

data_df = pd.read_csv('adult_1.csv', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])
data_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
print('train 데이터 정보')
print(data_df.info())

train 데이터 정보
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [3]:
data_df.drop('fnlwgt', axis=1, inplace=True)
data_df.drop('education-num', axis=1, inplace=True)

In [4]:
print(' age 값 분포 :\n',data_df['age'].value_counts())
print(' workclass 값 분포 :\n',data_df['workclass'].value_counts())
print(' education 값 분포 :\n',data_df['education'].value_counts())
print(' marital-status 값 분포 :\n',data_df['marital-status'].value_counts())
print(' occupation 값 분포 :\n',data_df['occupation'].value_counts())
print(' relationship 값 분포 :\n',data_df['relationship'].value_counts())
print(' race 값 분포 :\n',data_df['race'].value_counts())
print(' sex 값 분포 :\n',data_df['sex'].value_counts())
print(' native-country 값 분포 :\n',data_df['native-country'].value_counts())
print(' over 값 분포 :\n',data_df['over'].value_counts())

 age 값 분포 :
 36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
86      1
87      1
Name: age, Length: 73, dtype: int64
 workclass 값 분포 :
  Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64
 education 값 분포 :
  HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64
 marital-status 값 분포 :
  Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64
 occupation 값 분포 :
  Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64
 relationship 값 분포 :
  Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64
 race 값 분포 :
  White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64
 sex 값 분포 :
  Male      21790
 Female    10771
Name: sex, dtype: int64
 native-country 값 분포 :
  United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

KeyError: 'over'

In [6]:
from sklearn import preprocessing

def encode_features(dataDF):
    features = ['workclass', 'education', 'marital-status','occupation', 'relationship', 'race', 'sex', 'native-country', 'income']
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])
        
    return dataDF

data_df = encode_features(data_df)
data_df.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,7,9,4,1,1,4,1,2174,0,40,39,0
1,50,6,9,2,4,0,4,1,0,0,13,39,0
2,38,4,11,0,6,1,4,1,0,0,40,39,0
3,53,4,1,2,6,0,2,1,0,0,40,39,0
4,28,4,9,2,10,5,2,0,0,0,40,5,0

In [7]:
print(' age 값 분포 :\n',data_df['age'].value_counts())
print(' workclass 값 분포 :\n',data_df['workclass'].value_counts())
print(' education 값 분포 :\n',data_df['education'].value_counts())
print(' marital-status 값 분포 :\n',data_df['marital-status'].value_counts())
print(' occupation 값 분포 :\n',data_df['occupation'].value_counts())
print(' relationship 값 분포 :\n',data_df['relationship'].value_counts())
print(' race 값 분포 :\n',data_df['race'].value_counts())
print(' sex 값 분포 :\n',data_df['sex'].value_counts())
print(' native-country 값 분포 :\n',data_df['native-country'].value_counts())
print(' over 값 분포 :\n',data_df['over'].value_counts())

 age 값 분포 :
 36    898
31    888
34    886
23    877
35    876
     ...
83      6
85      3
88      3
86      1
87      1
Name: age, Length: 73, dtype: int64
 workclass 값 분포 :
 4    22696
6     2541
2     2093
0     1836
7     1298
5     1116
1      960
8       14
3        7
Name: workclass, dtype: int64
 education 값 분포 :
 11    10501
15     7291
9      5355
12     1723
8      1382
1      1175
7      1067
0       933
5       646
14      576
6       514
2       433
10      413
4       333
3       168
13       51
Name: education, dtype: int64
 marital-status 값 분포 :
 2    14976
4    10683
0     4443
5     1025
6      993
3      418
1       23
Name: marital-status, dtype: int64
 occupation 값 분포 :
 10    4140
3     4099
4     4066
1     3770
12    3650
8     3295
7     2002
0     1843
14    1597
6     1370
5      994
13     928
11     649
9      149
2        9
Name: occupation, dtype: int64
 relationship 값 분포 :
 0    13193
1     8305
3     5068
4     3446
5     1568
2      981
Name: relationship, dtype: int64
 race 값 분포 :
 4    27816
2     3124
1     1039
0      311
3      271
Name: race, dtype: int64
 sex 값 분포 :
 1    21790
0    10771
Name: sex, dtype: int64
 native-country 값 분포 :
 39    29170
26      643
0       583
30      198
11      137
2       121
33      114
8       106
19      100
5        95
9        90
23       81
35       80
3        75
22       73
6        70
40       67
13       64
24       62
31       60
4        59
36       51
14       44
20       43
32       37
27       34
29       31
10       29
12       29
7        28
21       24
17       20
1        19
38       19
25       18
37       18
41       16
28       14
16       13
18       13
34       12
15        1
Name: native-country, dtype: int64

KeyError: 'over'

workclass,
occupation,
native-country
에 ?가 있음

In [11]:
y_data_df = data_df['income']
X_data_df = data_df.drop('income',axis=1)
 
X_data_df = transform_features(X_data_df)

KeyError: 'income'